body{
  background-color: #000;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-wrapper{
  background-color: #fff;
  width: 400px;
  border-radius: 16px;
  margin: 4% auto;
}
.row{
  display: flex;
}